
// 表格
table {
  display: table;
}
table > thead > tr > th {
  border-bottom-width: 1px;
}


h1 {
  font-size: 2.2rem
}

h2 {
  font-size: 1.65rem;
  padding-bottom: .3rem;
  border-bottom: 0.5px solid #eaecef
}

h3 {
  font-size: 1.35rem
}
@media screen and (min-width: 58em) {
  html {
    font-size: 16px;
  }
}
body {
  // font-family: "glyph-correction","Amstelvar","Noto Serif SC",serif;
  // font-family: "Weaf Mono Hanzi", "Weaf Mono Web", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "思源黑体", "思源黑体 CN", "Source Han Sans CN", "Source Han Sans SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft JhengHei", sans-serif;
  font-family: "Weaf Mono Web", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "思源黑体", "思源黑体 CN", "Source Han Sans CN", "Source Han Sans SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft JhengHei", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-style: normal;
}
body p {
  color: rgb(89, 89, 89);
}